/* variables */
$color1: rgb(14, 13, 29);
$color2:rgba(9, 4, 41, 0.693);
$color3: white;
/* mixin */
@mixin bg ($position, $size, $image) {
    background-position: $position;
    background-size: $size;
    background-image: $image;
}
/* código index y genérico */
.flex-container {
    display: flex;
    justify-content: center;
}
.navbar span {
    color: $color2;
}
.nav-link {
    text-transform: capitalize;
}
main {
    @include bg (center, cover, url(../images/portada.jpg));
    height: 300px;
    h1 {
        font-size: 20px;
        text-align: center;
        padding: 25px;
        color: $color3;
        animation-name: aparecer;
        animation-duration: 3s;
    }
}
.secmain {
    height: auto;
    min-height: 100vh;
    padding: 10px;
}
.sec {
    min-height: 50vh;
    .inicio {
        height: auto;
    }
}
h2 {
    font-size: 25px;
    font-weight: normal;
    padding: 20px 5px 5px 5px;
    text-align: center;
}
p {
    padding: 5px;
    text-align: justify;
}
.foot {
    text-align: center;
    font-size: 16px;
    background-color: $color1;
    color: $color3;
    padding: 5px;
    p {
        margin-bottom: 5px;
        text-align: center;
    }
    footer i {
        font-size: 16px;
    }
}
/* nosotros */
.nos {
    color: $color3;
    background-color: $color3;
    color: black;
    margin-top: 10px;
    padding: 20px;
}
.nequipo {
    background-color: $color1;
    color: $color3;
    text-transform: capitalize;
    padding-top: 5px;
}
aside {
    height: 250px;
}
.img1 {
    @include bg (center, cover, url(../images/mujer.jpg));
    background-color: $color3;
}
.img2 {
    @include bg (center, cover, url(../images/hombre.jpg));
    background-color: $color3;
}
.img3 {
    @include bg (center, cover, url(../images/dron.jpg));
    background-color: $color3;
}
.equipo {
    font-size: 20px;
    background-color: $color2;
    color: $color3;
    margin-top: 7px;
    padding-top: 5px;
}
/* Galeria */
.contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 30px;
}
/* clientes */
.clientes {
    padding: 10px;
}
/* animación */
.aparecer {
    animation-name: aparecer;
    animation-duration: 3s;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* mq */
@media screen and (min-width:600px) {
    .flex-container {
        justify-content: flex-end;
    }
}
@media screen and (min-width:1023px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2%;
        grid-row-gap: 3%;
    }
}
