.navbar span {
    color: hwb(44 3% 6%);
}
.nav-link {
    text-transform: capitalize;
}
main {
    background-image: url(../images/portada.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
}
h1 {
    font-size: 20px;
    text-align: center;
    padding: 25px;
    color: white;
    animation-name: aparecer;
    animation-duration: 3s;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
h2 {
    font-size: 25px;
    font-weight: normal;
    padding: 20px 5px 5px 5px;
    text-align: center;
}
p {
    padding: 5px;
    text-align: justify;
}
.foot {
    text-align: center;
    font-size: 15px;
    background-color: rgb(14, 13, 29);
    color: white;
    padding: 15px;
}
footer p {
    margin-bottom: 15px;
    text-align: center;
}
footer i {
    font-size: 18px;
}
.inicio {
    height: auto;
}
/* nosotros */
.nos {
    color: white;
    background-color: white;
    color: black;
    margin-top: 10px;
    padding: 20px;
}
aside {
    height: 250px;
}
.img1 {
    background-color: aliceblue;
    background-image: url(../images/mujer.jpg);
    background-position: center;
    background-size: cover;
}
.img2 {
    background-color: aliceblue;
    background-image: url(../images/hombre.jpg);
    background-position: center;
    background-size: cover;
}
.img3 {
    background-color: aliceblue;
    background-image: url(../images/dron.jpg);
    background-position: center;
    background-size: cover;
}
.nequipo {
    background-color: rgb(14, 13, 29);
    color: white;
    text-transform: capitalize;
    padding-top: 5px;
}
.equipo {
    font-size: 20px;
    background-color: rgba(9, 4, 41, 0.693);
    color: white;
    margin-top: 7px;
    padding-top: 5px;
}
/* contacto */
/* .cont{
    color: rgb(241, 238, 238);
    width: 40%;
    border: 1px solid hwb(44 3% 6%);
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 20px;
    border-radius: 3px;
    line-height: 30px;
    margin-left: 50px; */
